{% extends 'base.html' %}

{% block titre %}
Nouvelle Dépense
{% endblock %}

{% block contenu %}

<div class="container">

    <div class="card shadow">

        <div class="card-header bg-danger text-white">

            <h3>

            {% if form.instance.pk %}

            Modifier une Dépense

            {% else %}

            Nouvelle Dépense

            {% endif %}

            </h3>

        </div>

        <div class="card-body">

            <form method="post">

                {% csrf_token %}

                <div class="row">

                    <div class="col-12 col-md-4">

                        <label>Date</label>

                        {{ form.date }}

                    </div>

                    <div class="col-12 col-md-4">

                        <label>Catégorie</label>

                        {{ form.categorie }}

                    </div>

                    <div class="col-12 col-md-4">

                        <label>Libellé</label>

                        {{ form.libelle }}

                    </div>

                    <div class="col-12 col-md-4">

                        <label>Montant</label>

                        {{ form.montant }}

                    </div>

                    <div class="col-12 col-md-4">

                        <label>Observation</label>

                        {{ form.observation }}

                    </div>

                </div>

                <button
                    class="btn btn-success">

                    Enregistrer

                </button>

                <a href="{% url 'liste_depenses' %}"
                   class="btn btn-secondary">

                    Retour

                </a>

            </form>

        </div>

    </div>

</div>

{% endblock %}